SoundFile==0.10.3.post1
numpy==1.8.0
tokenizers==0.11.6
matplotlib==3.3.4
botocore==1.24.13
omegaconf==2.0.6
psutil==5.8.0
editdistance==0.5.3
sacrebleu==1.5.1
hydra_core==1.0.6
torch==1.8.1+cu111
requests==2.14.2
langdetect==1.0.9
stanfordcorenlp==3.9.1.1
sentencepiece==0.1.96
nltk==3.6.2
dill==0.3.4
torchvision==0.9.1+cu111
sacremoses==0.0.45
pyarrow==6.0.1
regex==2021.4.4
tqdm==4.63.0
dataclasses==0.8
setuptools==59.6.0
torchaudio==0.8.1
opencv_python==4.5.3.56
boto3==1.21.13
apex==0.9.10dev
azureml==0.2.7
beautifulsoup4==4.11.1
deepspeed==0.6.5
fairscale==0.4.6
fastBPE==0.1.0
hydra==2.5
iopath==0.1.9
subword_nmt==0.3.8
tensorboardX==2.5.1
transformers==4.18.0.dev0
typing==3.10.0.0
wandb==0.12.19
PyYAML==6.0
